<div class="row">
  <div class="col-md-10">
    <div class="row">
      <div class="col">
      <span *ngFor="let cat of categories; index as i">
        <app-category-item *ngIf="i%3==0" [category]="cat"></app-category-item>
      </span>
      </div>
      <div class="col">
      <span *ngFor="let cat of categories; index as i">
        <app-category-item *ngIf="i%3==1" [category]="cat"></app-category-item>
      </span>
      </div>
      <div class="col">
      <span *ngFor="let cat of categories; index as i">
        <app-category-item *ngIf="i%3==2" [category]="cat"></app-category-item>
      </span>
      </div>
    </div>
  </div>
</div>
<div class="row my-4">

</div>
<div class="row">
  <div class="col">
    <div class="row"><p class="fw-bold h3 font-italic text-green-500">Popularne miasta</p></div>
    <div class="row my-4"></div>
    <div class="row"><p class="fw-bold h3 font-italic text-green-500">Popularne kategorie</p></div>
  </div>
  <div class="col">
    <p class="fw-bold h3 font-italic text-green-500">Lokalizacje</p>
    <div *ngFor="let locItem of localizations">
      <p class="fw-bold h5">{{locItem.current.name}}</p>
      <div class="row">
        <div class="col">
          <div *ngFor="let subloc of locItem.childrens; index as i">
            <p class="text-green-500" *ngIf="i%3==0">{{subloc.name}}</p>
          </div>
        </div>
        <div class="col">
          <div *ngFor="let subloc of locItem.childrens; index as i">
            <p class="text-green-500" *ngIf="i%3==1">{{subloc.name}}</p>
          </div>
        </div>
        <div class="col">
          <div *ngFor="let subloc of locItem.childrens; index as i">
            <p class="text-green-500" *ngIf="i%3==2">{{subloc.name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
