<div class="list-group my-3">
<!--  offer.localization-->
  <a [routerLink]="['/', categoryName, 'Krakow', offer.title, offer.id]" class="list-group-item list-group-item-action" aria-current="true">
    <!--    <div class="d-flex w-100 justify-content-between">-->
    <!--      <h5 class="mb-1">{{offer.title}}</h5>-->
    <!--      <small>{{offer.publishDate}}</small>-->
    <!--    </div>-->
    <!--    <div class="d-flex w-100 justify-content-between">-->
    <!--      <p class="mb-1">{{offer.content}}</p>-->
    <!--      <small>{{offer.price}} PLN</small>-->
    <!--    </div>-->
    <div class="d-flex">
      <div class="p-2">
        <img src="assets/logo-copy.png">
      </div>
      <div class="p-2">
        <h5 class="mb-1">{{offer.title}}</h5>
        <small>{{offer.content}}</small>
      </div>
      <div class="ml-auto p-2 text-start">
        <div class="row"><small>{{offer.publishDate}}</small></div>
        <div class="row"><small>{{offer.price}} PLN</small></div>
      </div>
    </div>
  </a>
</div>
